{{#each this}}
  <li class='country-elem'>
    <img
      class='country-img'
      src='{{flags.svg}}'
      alt='{{name.common}}'
      width='50'
      height='auto'
      srcset=''
    />
    <h1 class='country-txt'>{{name.common}}</h1>
  </li>
{{/each}}